$color_1: #707493;
$color_2: #57a3e4;
$color_3: #fff;
$font_khula: 'Khula', sans-serif;
$font_aqua: 'Aqua', sans-serif;
$background_color: #1c1d25;

@import "./node_modules/sal.js/dist/sal.css";
@font-face {
	font-family: 'Aqua';
	src: url(../fonts/aqua.ttf);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}
html {
	font-family: $font_khula;
	font-weight: 600;
}
body {
	width: 75%;
	margin: auto;
	background-color: $background_color;
	color: $color_1;
}
h1 {
	font-family: $font_aqua;
	font-size: 74px;
	color: $color_1;
}
h2 {
	font-family: $font_aqua;
	font-size: 50px;
	color: $color_1;
	padding-top: 10vh;
}
h3 {
	font-family: $font_aqua;
	font-size: 35px;
	color: $color_1;
}
span {
	color: $color_2;
}
.whiteTheme {
	color: $color_3;
	display: inline;
}
p {
	color: $color_1;
	opacity: 0.8;
	font-weight: 600;
	margin-top: 20px;
	font-size: 20px;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: $color_1;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	text-decoration: none;
	cursor: pointer;
	color: $color_1;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	&:hover {
		color: $color_2;
	}
}

/*---------- Nav ----------*/
.nav {
	display: flex;
	align-items: center;
	height: 80px;
}
.navIcons {
	flex: 1;
	text-align: right;
	a {
		display: inline-block;
		vertical-align: middle;
		text-align: right;
		margin-left: 40px;
	}
}

/*---------- Landing ----------*/
.landing {
	height: 80vh;
	position: relative;
}
.landingWrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
}
.landingL {
	margin-top: 4em;
}

/*--------- About Me -----------*/
.aboutHeading {
	text-align: center;
	padding-bottom: 1rem;
}
.aboutMe {
	padding: 1rem;
	font-size: 20px;
	line-height: 1.5;
	padding: 2vh 8.1%;
}

/*---------- Projects ----------*/
.projectHeading {
	text-align: center;
	margin-bottom: 2em;
	padding-top: 1vh;
}
.underline {
	display: block;
	height: 3px;
	width: 10vw;
	margin: 15px auto auto 43%;
	background-color: $color_2;
}
.portfolio {
	margin-top: 10vh;
	padding: 0.5rem 10rem 3rem 10rem;
}
.project {
	margin: 4vh 0;
	background-color: $background_color;
	overflow: hidden;
	text-align: left;
}
.glide {
	padding: 0rem 5rem 3rem 5rem;
}

/*---------- Footer ----------*/
.footer {
	padding-top: 3em;
	padding-bottom: 7em;
	text-align: center;
	height: 200px;
	a {
		color: $color_1;
		text-decoration: none;
		&:hover {
			color: $color_2;
			text-decoration: none;
		}
	}
}
.footIcons {
	padding: 4rem 7vw;
	margin-top: 30px;
	margin-bottom: 30px;
	>a {
		text-align: center;
		margin-left: 5vw;
		margin-right: 5vw;
		font-size: 23px;
	}
}
.fa-chevron-right {
	color: $color_2;
}
.fa-chevron-left {
	color: $color_2;
}

/* For Tablets */
@media (max-width: 1100px) {
	h3 {
		font-size: 2vw;
	}
	.portfolio {
		padding: 2rem;
	}
	.glide {
		padding: 2rem;
	}
}

/* For mobile phones: */
@media (max-width: 430px) {
	body {
		width: 90%;
	}
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 30px;
		color: $color_1;
	}
	.landingL {
		text-align: center;
	}
	.landingWrapper {
		display: block;
	}
	.navIcons {
		text-align: center;
		a {
			margin-left: 13px;
			margin-right: 13px;
		}
	}
	.footIcons {
		padding-right: 3vw;
		>a {
			text-align: middle;
			margin-left: 2vw;
		}
	}
	p {
		font-size: 15px;
	}
	.coolFont {
		font-family: $font_aqua;
		font-size: 40px;
	}
	.aboutMe {
		font-size: 3.4vw;
	}
	.portfolio {
		padding: 3rem;
	}
	.glide {
		padding: 2vw;
	}
	h3 {
		font-size: 3vw;
	}
}
